@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
    color: rgb(214, 196, 196);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(108, 208, 233);
}
p {
    color: rgb(106, 171, 231);
    font: normal 19pt Calibre;
}
h2 {
    color: green;
}
ul {
    color: green;
}
li {
    color: rgb(67, 83, 42);
}